workflow/n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"source\":\"Web Form\",\n  \"message\":\"We'd love to see a bulk export feature for our audit logs. We're a compliance-heavy org and this would save us hours every month.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        272
      ],
      "id": "a47da094-4a89-484c-8e1f-4ca6d5f335d6",
      "name": "Sample Ticket"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a support ticket triage AI.\n\nAnalyze the customer message.\n\nYou MUST choose ONE category from:\n\n- Bug Report\n- Feature Request\n- Billing Issue\n- Technical Question\n- Incident/Outage\n\nPriority must be:\n\n- Low\n- Medium\n- High\n\nConfidence must be a number from 0 to 100.\n\nReturn ONLY valid JSON.\n\n{\n  \"category\":\"\",\n  \"priority\":\"\",\n  \"confidence\":0,\n  \"core_issue\":\"\",\n  \"identifiers\":[],\n  \"urgency_signal\":\"\",\n  \"summary\":\"\"\n}\n\nCustomer Message:\n\n{{$json.message}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        272
      ],
      "id": "e90110f5-5f2c-4272-aaef-fb597278749f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        320,
        496
      ],
      "id": "84ee51ac-fcb9-4c3a-a416-43527eafb17f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "seposL8XySuaFz5l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1911b44c-80f5-4aee-8336-5b7448f91d87",
                    "leftValue": "={{$json.category}}",
                    "rightValue": "Bug Report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9fe88b19-de4e-4be3-bcbd-ae61a2df4520",
                    "leftValue": "={{$json.category}}",
                    "rightValue": "Incident/Outage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "762675dd-c6a0-4184-86ae-1b25045e917b",
                    "leftValue": "={{$json.category}}",
                    "rightValue": "Feature Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ce811e97-da05-4b7e-94ce-3aa25466e3fc",
                    "leftValue": "={{$json.category}}",
                    "rightValue": "Billing Issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "44bef42d-139e-4d80-86ad-c61b6f0b7f7d",
                    "leftValue": "={{$json.category}}",
                    "rightValue": "Technical Question",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1040,
        416
      ],
      "id": "1001bd9d-20d8-4f6d-8481-9d1d4b3e7593",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e7bf890b-3c4e-4427-98ce-dba09c76209d",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "b24f73a8-22e5-449c-b1da-5d67427db727",
              "leftValue": "={{ $json.category }}",
              "rightValue": "Incident/Outage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0f01bc72-2eee-4514-bcad-bbc597db49ca",
              "leftValue": "={{ $json.urgency_signal }}",
              "rightValue": "multiple users",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        272
      ],
      "id": "6ebe3798-c840-444a-bb68-e3c153b5e9ac",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        272
      ],
      "id": "61b0780a-a927-4b5b-b00e-d9c18f6e1bb3",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"queue\": \"Escalation Queue\",\n  \"escalation\": true\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -16
      ],
      "id": "245626b4-4566-4a22-9e14-d32fae86fed3",
      "name": "Escalation Queue"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"queue\": \"Engineering\",\n  \"escalation\": false\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        176
      ],
      "id": "a27c453c-6f9a-4fc2-bdd3-0d4aeaff908c",
      "name": "Engineering"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"queue\": \"Product\",\n  \"escalation\": false\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        368
      ],
      "id": "8618d07f-088c-4c8c-b6fd-9af0c86d3391",
      "name": "Product"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"queue\": \"Billing\",\n  \"escalation\": false\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        560
      ],
      "id": "a12a4734-b272-4669-80e9-e86e6d6eafb7",
      "name": "Billing"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"queue\": \"IT/Secuity\",\n  \"escalation\": false\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        752
      ],
      "id": "9a950ecb-e96e-4a7e-a8da-07ca06425baf",
      "name": "IT/Security"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kXMIB9MbLBWLlMx9lzr1vyoYbjT7zK7yrE5ed8Dev58",
          "mode": "list",
          "cachedResultName": "ArcVault_AI_Triage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXMIB9MbLBWLlMx9lzr1vyoYbjT7zK7yrE5ed8Dev58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXMIB9MbLBWLlMx9lzr1vyoYbjT7zK7yrE5ed8Dev58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{$node[\"Sample Ticket\"].json[\"source\"]}}",
            "Queue": "={{$json.queue}}",
            "Category": "={{$json.category}}",
            "Confidence": "={{$json.confidence}}",
            "Priority": "={{$json.priority}}",
            "Identifiers": "={{JSON.stringify($json.identifiers)}}",
            "Core Issue": "={{$json.core_issue}}",
            "Summary": "={{$json.summary}}",
            "Escalation": "={{$json.escalation}}",
            "Urgency": "={{$json.urgency_signal}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Core Issue",
              "displayName": "Core Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Identifiers",
              "displayName": "Identifiers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Queue",
              "displayName": "Queue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Escalation",
              "displayName": "Escalation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        368
      ],
      "id": "9c684865-d408-4426-9b2f-2aa32e1d7bd4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3puIQlvNgu2FT6zH",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\nconst cleaned = raw\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nreturn [\n  {\n    json: JSON.parse(cleaned)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        272
      ],
      "id": "27c63273-46aa-41c1-a635-f09e2a3335a1",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Sample Ticket": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Escalation Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Engineering",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Engineering",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Billing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IT/Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engineering": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Billing": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IT/Security": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Queue": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d48142ea-305f-4cf7-b806-73f62673fcf5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5bb0dd1d58b331ae27d73e1b1d9ed74f2c2e901b9fde92cd539c55d5c632c92"
  },
  "nodeGroups": [],
  "id": "wOZJNiVkahfunmeT",
  "tags": []
}